/* game board table */

body {
  text-align: center;
  background-color:cadetblue
}

#board {
  margin: auto;
  padding-top: 10vh;
}

#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
  
  
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: auto;
  width: 80%;
  height: 80%;
  border-radius: 50%;
  z-index: -1;
  left: 1px;
  bottom: 0px;
}
  
  


.letter {
  margin: -2px;
  transition: color 1000ms;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 200%;
}


/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
  
}

#column-top td:hover {
  cursor: pointer;
  
}


.fall {
  animation-name: fall-animation;
  animation-duration: 500ms;
}

@keyframes fall-animation {
  from {
      transform: translateY(-500px);
  }
  to {
      transform: translateY(0);
  }
}
